<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.ufcspa.balance">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_padrao"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="DATABASE"
            android:value="balance_dados.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="br.edu.ufcspa.balance.modelo" />

        <activity
            android:name=".controle.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.ListaPacientesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controle.CadastroActivity"
            android:label="@string/title_activity_formulario"
            android:parentActivityName=".controle.ListaPacientesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".controle.ListaPacientesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="controle.ListaPacientesActivity" />

        <activity
            android:name=".controle.ListaAvaliacoesActivity"
            android:label="@string/title_activity_lista_avaliacoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testes.SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.ResultadoActivity"
            android:label="@string/titulo_resultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.TimerActivity"
            android:label="@string/title_activity_timer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>